html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-body{
    
    width: 100%;
    
    
}

#canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;
}

#view-port{
    background-color: black;
}